/* COntent  and design start here*/
 body {
    box-sizing: border-box;
}

/* font-size and style start here */
a{
  font-family: lato,sans-serif;
  font-size: 14px;  
  color: #696969;
  font-weight: 400;
}
p{
    font-family: lato,sans-serif;
    font-size: 14px;  
    color: #696969;
    font-weight: 400;
}
span{
  font-family: lato,sans-serif;
  font-size: 14px;  
  font-weight: 400;
}
label{
  font-family: lato,sans-serif;
  font-size: 14px;  
  font-weight: 400;
}
h1{
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}
h2{
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  font-weight: 400;
}
h3{
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}
h4{
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 20px;
}
h5{
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}
h6{
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}
/* font-size and style end here */

.wrapper{
    padding-top: 150px;
}
#headingFontDesign{
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
#paragraphDesign{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 1.428571429;
  color: #696969;
  line-height: 1.428571429;
  font-weight: 400;
}


/* Our new products icons style start here*/
.noo-product-filter {
  margin-top: 40px
}
.noo-header-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 25px;
  text-align: center;
}
@media (min-width: 480px)
{
  .noo-header-filter li {
  display: inline-block;
  margin: 10px 0;
  min-width: 100px;
}
}
.noo-header-filter li {
  padding-right: 35px;
}
.noo-header-filter li a{
  cursor: pointer;
  display: inline-block;
}
a {
  color: #212121;
  text-decoration: none;
}
.noo-header-filter li a img{
  margin-bottom: 12px;
}
a{
  text-decoration: none;
}
.noo-header-filter li a:hover span{
  color: #79cba8
}
.noo-header-filter li a span{
  display: block;
  text-transform: uppercase;
  -webkit-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}
a{
  text-decoration: none !important;
  color: #212121
}
/* Our new products icons style end here*/


/* cards start here */
#cards p{
    text-align: center;
    font-family: lato,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 1px;
    color: #fff;
    background-color: #45b284;
    cursor: pointer;
    margin: -1px;
}
#cards{
    border: 1px solid #f4eede;
    cursor: pointer;
}
#cards #cardsImage{
    width: 100%;
    height: auto;
}
#cards:hover {
    box-shadow: 0 0 29px 0 rgba(0,0,0,.18);
}

 #cards:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.1); 
  transition: all 0.8s ease 0s;
}
#cardsRow{
  margin-top: 30px;
}
/* cards end  here */

/* featured Items Section Start Here */

#featured{
  background-color: #f4eede;
  margin-top: 150px;
  padding: 50px;
}
/* featured Items Section end Here */

 /* featured gallery Section start here */
 * {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.gallery {
  /* float: left; */
  width: 33.33%;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.featuredGallery{
  overflow: hidden;
}
.featuredGallery.row:after {
  content: "";
  display: table;
  clear: both;
}
.featuredGallery .row .gallery img{
  width: 100%;
  height: auto;
}
.lastRow{
  margin-left: 33.33%;
}
  /* featured gallery Section end here */



  /* our team style start here */
  .teamSection{
    text-align: center;
    padding-top: 150px;
  }
  .teamSection p{
    padding: 0 22%;
  }
  #fontAwesomeIcons{
    font-size: 25px;
    color: #696969;
  }
  .featuredImages{
    border: #f4eede 1px solid;
  }
  .featuredContent{
    border: #f4eede 1px solid;
    background-color:#f4eede ;
  }
  .featuredContent{
    text-align: center;
  }
  .featuredCard:hover h4{
    color: #fff;
  }
  .featuredCard:hover P{
    color: #fff;
  }
  .featuredCard:hover #fontAwesomeIcons{
    color: #fff;
  }
  .featuredCard:hover .featuredContent{
    background-color: #79cba8;
  }
  .featuredCard:hover .featuredImages{
    border: 1px solid #79cba8;
  }
  .featuredCard:hover .featuredImages{
    /* background-color: #79cba8; */
  
  }
  /* our team style end here */
/* single image start here  */
#singleImage img{
  padding-top: 150px;
  width: 100%;
  height: 500px;
  margin-top: 20px;
}
/* single image end here */


/* latest products start here */
.latestProductImages img{
  width: 100%;
  height: auto;
}
/* latest product end here */