/* COntent  and design start here*/
body {
    box-sizing: border-box;
}

.wrapper{
    padding-top: 150px;
}
#headingFontDesign{
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
#paragraphDesign{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 1.428571429;
  color: #696969;
  line-height: 1.428571429;
  font-weight: 400;
}


/* Our new products icons style start here*/
.noo-product-filter {
  margin-top: 40px
}
.noo-header-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 25px;
  text-align: center;
}
@media (min-width: 480px)
{
  .noo-header-filter li {
  display: inline-block;
  margin: 10px 0;
  min-width: 100px;
}
}
.noo-header-filter li {
  padding-right: 35px;
}
.noo-header-filter li a{
  cursor: pointer;
  display: inline-block;
}
a {
  color: #212121;
  text-decoration: none;
}
.noo-header-filter li a img{
  margin-bottom: 12px;
}
a{
  text-decoration: none;
}
.noo-header-filter li a:hover span{
  color: #79cba8
}
.noo-header-filter li a span{
  display: block;
  text-transform: uppercase;
  -webkit-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}
a{
  text-decoration: none !important;
  color: #212121
}
/* Our new products icons style end here*/


/* cards start here */
#cards p{
    text-align: center;
    font-family: lato,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 1px;
    color: #fff;
    background-color: #45b284;
    cursor: pointer;
    margin: -1px;
}
#cards{
    border: 1px solid #f4eede;
    cursor: pointer;
}
#cards #cardsImage{
    width: 100%;
    height: auto;
}
#cards:hover {
    box-shadow: 0 0 29px 0 rgba(0,0,0,.18);
}

